.Login {
  background-color: #eeebdd;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  height: 400px;
  width: 400px;
  border-radius: 20px;
  display: flex;
  margin-right: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form {
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-label {
  color: #630000;
  font-weight: bold;
  margin-top: 10px;
}
/* 
.button {
  background-color: rgba(99, 0, 0, 0.7);
} */

h6 {
  color: #630000;
  font-weight: bold;
  padding-top: 30px;
}
